<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>
</mat-list>

<p class="sidebar-title">Teacher</p>

<mat-list>
  <mat-list-item routerLink="{{routes.TEACHER_WS}}" routerLinkActive="active">
    <mat-icon>workspaces</mat-icon> Teacher Workspace
  </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item routerLink="{{routes.TEACHER_SCHEDULER}}" routerLinkActive="active">
    <mat-icon>scheduler</mat-icon> Teacher Scheduler
  </mat-list-item>
</mat-list>

<p class="sidebar-title">Student</p>

<mat-list>
  <mat-list-item routerLink="{{routes.STUDENT_WS}}" routerLinkActive="active">
    <mat-icon>workspaces</mat-icon> Student Workspace
  </mat-list-item>
</mat-list>
